/* Blog */
.wp-post-image {
  float: left;
  margin: 0 15px 10px 0;
}
.format-video h2 {
  color: #fff;
  background: #211e1e;
  padding: 15px;
}
.format-standard h2 {
  color: #444;
  background: #00fbff;
  padding: 15px;
}
.blog article {
  display: inline-block;
  margin: 0 0 30px;
  width: 100%;
}
.blog article h2 {
  margin-bottom: 15px;
}
.blog article p > img {
  width: 100%;
  height: auto;
}
.blog .meta-info p {
  line-height: 1em;
  font-weight: bold;
}
.blog .meta-info p > a {
  color: #9d9d9d;
  font-weight: normal;
}

.post-area {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
