/* Slider */
.slide {
  padding: 1.5rem;
}

/* Services */
.services {
  background: #4c1b1b;
  padding: 25px;
  color: #fefefe;
}

/* Middle Area */
.middle-area {
  padding: 1.5rem;
}
.middle-area h1 {
  color: #4c1b1b;
  text-transform: uppercase;
}

/* Middle Area - Sidebar */
.sidebar {
  background: #f6e497;
  padding: 20px;
  margin: 0 0 30px;
}

.post-categories {
  list-style: none;
}

/* Serices */

.services {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
}

.services h1 {
  align-items: center;
  text-align: center;
}

.services__conteudo {
  /* display: grid;
  grid-template-columns: 1fr 1fr 1fr; */
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.news {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.widget-wrapper {
  display: flex;
}
