.menu ul li a {
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  color: #231f20;
  transition: 0.3s;
}

/* Destacar o menu ativo */
.menu ul li.current-menu-item a {
  color: #b22222; /* Vermelho */
}

.menu ul li a:hover {
  color: #b22222;
}

/* Top Bar Section */
.top-bar {
  background: #b9121b;
  color: #fff;
  padding: 15px 0;
}
